@use "Styles/mixins";
@use "Styles/variables" as *;

.project {
  @include mixins.shadow-soft;

  padding: $padding calc($padding * 2);

  background-color: $color-project-bg;
  border-radius: $border-radius;

  &-name {
    color: $color-fg;

    font-size: $font-size-large;
    font-weight: 700;
  }

  &-description {
    min-width: 256px;
    max-width: 512px;
  }

  &-buttons {
    display: flex;
    gap: $margin-regular;

    margin-top: $margin-regular;
  }
}

#projects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px;

  width: fit-content;
  max-width: 75vw;
}

#tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;

  max-height: 50vh;
  max-width: 75vw;

  overflow-y: auto;
}
