@use "global";

@mixin card {
  @include global.curved;

  background-color: global.$color-bg;
  box-shadow: 5px 5px 5px global.$color-shadow,
    -5px -5px 5px global.$color-shadow-soft;
  padding: 1.5em;
  box-sizing: border-box;
}
