@use "sass:color";

@import "https://fonts.googleapis.com/css2?family=Inter&display=swap";
@import "https://fonts.googleapis.com/css2?family=Koulen&display=swap";

$color-bg: #fafafa !default;
$color-bg-inv: rgb(36, 36, 36) !default;
$color-text: #393e41 !default;
$color-text-light: #fbf9ff !default;
$color-primary: rgb(45, 155, 240) !default;
$color-weak: grey !default;
$color-shadow: #0002;
$color-shadow-soft: #00000008;
$color-highlight-soft: #fff5;

$separator-h: 3vh;
$header-h: calc(3em + $separator-h);

$font-title: "Koulen", cursive;

@mixin curved {
  border-radius: 12px;
}

@mixin button {
  clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);

  margin-top: 8px;
  display: inline-flex;
  color: $color-bg;
  background-color: $color-primary;
  padding: 8px;

  transition: 0.5s ease, clip-path 0.25s cubic-bezier(0.55, 0.055, 0.675, 0.19);

  ion-icon {
    font-size: 1.5em;
  }

  &:hover {
    color: $color-primary;
    background-color: $color-bg;

    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  margin: 0;
  color: $color-text;
  background-color: $color-bg;
}

small {
  color: $color-weak;
}

strong {
  color: $color-primary;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 64px;
}

main {
  margin-top: $header-h;
  min-height: 100vh;
}

header {
  display: flex;
  height: $header-h;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  padding-left: 1em;
  flex-grow: 1;
}

nav,
footer {
  background-color: $color-bg-inv;
}

footer {
  padding-bottom: 2em;
}

a {
  @include button;

  text-decoration: none;
  font-family: $font-title;
  line-height: 1;
}

x-hero {
  // Render ontop of navbar (purely aesthetic choice)
  // This isn't appropriate in portrait mode since it likely overlaps navigation buttons
  // This heuristic isn't perfect but covers many cases
  @media (min-aspect-ratio: 1) {
    z-index: 2;
  }
}

hr.separator {
  border: none;
  clip-path: polygon(0 0, 15% 100%, 100% 0);
  margin: 0;
  height: $separator-h;
  background-color: $color-bg-inv;

  &.to-inv {
    background-color: $color-bg;
  }
}

ul {
  &:before {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    color: $color-bg;
    font-family: $font-title;
    background-color: $color-primary;
    content: attr(aria-label);
  }

  li {
    list-style: none;
  }
}
