@use "sass:math";

$color-prim-white: #ffffff;
$color-prim-grey: #eaeaea;
$color-prim-light: #f8f8f8;
$color-prim-dark: #1e1e1e;
$color-prim-pink: #ff3d83;

$color-bg: $color-prim-light;
$color-bg-lighter: $color-prim-white;
$color-fg: $color-prim-dark;
$color-fg-inv: $color-prim-light;
$color-fg-light: $color-prim-light;
$color-primary: $color-prim-pink;

$color-input-bg: $color-prim-grey;
$color-checkbox-bg: $color-prim-grey;

$color-list-bg: $color-prim-grey;

$font-regular: "Exo", sans-serif;
$font-display: "Dosis", sans-serif;

$font-size: 16px;
$font-size-xl: 32px;
$font-size-large: 24px;

$border-radius: 16px;
$border-radius-small: 8px;

$margin-section: 32px;
$margin-regular: math.div($margin-section, 2);
$margin-close: math.div($margin-regular, 2);

$padding: 16px;
$padding-half: math.div($padding, 2);

/* --------------------------------- Navbar --------------------------------- */
$color-navbar-bg: $color-prim-dark;
$color-navbar-fg: $color-fg-inv;
$color-navbar-selected: $color-primary;

$navbar-padding: $margin-regular 0px;
$navbar-font-size: 24px;
$navbar-gap: 64px;

/* --------------------------------- Project -------------------------------- */
$color-project-bg: $color-bg-lighter;

/* --------------------------------- Button --------------------------------- */
$button-font-size: $font-size;
$button-border-radius: $border-radius-small;
$button-color-bg: $color-primary;
$button-color-fg: $color-fg-light;
$button-padding: $padding-half $padding;
$button-gap: $margin-close;

/* --------------------------------- Headers -------------------------------- */
$h1-padding: 16px 32px;
$h1-font-size: $font-size-xl;
$h1-color-bg: $color-fg;
$h1-color-fg: $color-fg-inv;

$h2-font-size: $font-size-large;

/* -------------------------------- Paragraph ------------------------------- */
$p-margin-top: $margin-regular;

/* ---------------------------------- Lists --------------------------------- */
$ul-margin-top: $margin-regular;

/* -------------------------------- Scrollbar ------------------------------- */
$scrollbar-width: 10px;
$scrollbar-thumb-color: $color-fg;
