@use "raiar/sass/raiar.scss" with (
  $color-primary: #ff3d83,
  $color-dark-primary: #ff4e8e,
  $color-dark-interactive-bg: #1a1a1a,
  $color-list-text-even-bg: rgb(244 244 244 / 0.5),
  $color-dark-list-text-even-bg: rgb(58 58 58 / 0.5),
  $card-padding: 24px 32px 16px 32px,
  $fieldset-padding: 8px
);

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

body {
  @extend .gap-4x;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  padding: min(16px, 2.5vw);
  padding-bottom: 30vh;
  position: relative;
  width: 100%;
}

code {
  font-family: "Share Tech Mono", monospace;
}

h1 {
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}

small {
  opacity: 0.5;
}

button,
.button {
  // To support icons alongside text, as Raiar doesn't yet support that as of
  // writing this.
  align-items: center;
  display: flex;
  gap: 8px;

  // Raiar default buttons lack contrast with raiar-card in light mode.
  &:is(html:not(.raiar-dark) &):not(:hover) {
    outline: 1px solid var(--raiar-color-element-border);
  }
}

.card-transparent {
  backdrop-filter: blur(35px);
  --raiar-color-bg-close: rgb(255 255 255 / 0.5);

  &:is(.raiar-dark &) {
    --raiar-color-bg-close: rgb(43 43 43 / 0.5);
  }
}

.raiar-card {
  contain: content;
  backface-visibility: hidden;
}

.weak {
  opacity: 0.5;
}

.align-start {
  align-items: start;
}

.align-baseline {
  align-items: baseline;
}

.align-stretch {
  align-items: stretch;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.gap-2x {
  gap: calc(var(--raiar-gap) * 2);
}

.gap-4x {
  gap: calc(var(--raiar-gap) * 4);
}
