@use "sass:color";

$text: #ebebeb !default;
$text-strong: color.scale($text, $lightness: -15%) !default;
$text-weak: color.scale($text, $lightness: 15%) !default;
$bg: #ebebeb !default;

@function getBoxBg($level: 0) {
  $level: clamp(0, $level, 19);
  @return color.scale($bg, $lightness: ($level + 1) * -5%);
}
