@use "colors";
@use "fonts";
@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
}

html {
  @include full-viewport-h;
}

body {
  @include color-text;
  @include bg-default;
}

code {
  font-family: "Share Tech Mono", monospace;
}

a {
  @include link;
}

pre {
  text-align: left;
}

button {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}
