@use "Styles/mixins";
@use "Styles/variables" as *;

a {
  color: $color-navbar-fg;
  text-decoration: none;
}

nav {
  top: 0px;
  position: sticky;

  display: flex;
  justify-content: center;
  gap: $navbar-gap;

  padding: $navbar-padding;

  background-color: $color-navbar-bg;
  text-transform: uppercase;
  font-size: $navbar-font-size;
}

[data-current] a::after {
  @include mixins.glow-primary;

  content: " ";

  display: block;

  width: 100%;
  height: 5px;

  border-radius: 2.5px;

  background-color: $color-navbar-selected;
}
