@use "../card";
@use "../global";

* {
  padding: 0;
  margin: 0;
}

:host {
  perspective: 512px;
  flex-grow: 1;
  margin: 10px;
}

article {
  @include card.card;

  transition: 0.5s ease;

  &:hover {
    transform: translateZ(20px);
  }
}

h1 {
  font-family: "Koulen", cursive;
  color: global.$color-primary;
}

#subtitle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  column-gap: 32px;
}
